@import "tailwindcss";
@import "./fonts.css";

body {
  direction: rtl;
}

/* roots */
:root {
  --theme: #ed1944;
  --red: #ed1944;
  --red-100: #ed194315;
  --dark-200: #334155;
  --dark-500: #171e29;
  --width: 1280px;
}

/* config */
@theme {
  --font-regular: "yekan_regular";
  --font-medium: "yekan_medium";
  --font-bold: "yekan_bold";
  --font-heavy: "yekan_heavy";
  --font-fat: "yekan_fat";
  --font-morabba-regular: "morabba_regular";

  --color-theme: var(--theme);
  --color-dark-200: var(--dark-200);
  --color-dark-500: var(--dark-500);
  --color-red: var(--red);
  --color-red-100: var(--red-100);

  --shadow-custom: 0px 4px 60px rgba(0, 0, 0, 0.089);
}

@layer base {
  body {
    @apply font-regular;
  }
}

@layer components {
  .btn-dark {
    @apply rounded-md relative px-4 flex items-center justify-center text-[14px] text-white font-medium bg-dark-500 h-[43px];
  }

  .btn-dark.loading {
    @apply bg-gray-300 pointer-events-none
  }
}

@layer utilities {
  .w-custom {
    width: var(--width);
  }

  .overflow-y-custom {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .overflow-y-custom::-webkit-scrollbar {
    display: none;
  }
}


/* packages */
#nprogress .bar {
    background-color: var(--theme) !important;
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--theme), 0 0 5px var(--theme) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--theme) !important;
  border-left-color: var(--theme) !important;
}

/* swiper */
.pagination-handler {
    gap: 1px;
}

.pagination-handler span {
    background-color: #000000d8 !important;
    border-radius: 80px !important;
    width: 7px !important;
    height: 7px !important;
    transition: var(--transition) !important;
    cursor: pointer;
}

.pagination-handler span.swiper-pagination-bullet-active {
    background-color: white !important;
    width: 16px !important;
}


.slider-overflow-visible .swiper {
    overflow: visible !important;
}


@media(max-width: 1170px) {
  :root {
    --width: 90%;
  }
}